<head>
	<script type="text/javascript" src="/eventemitter2.min.js"></script>
	<script type="text/javascript" src="/roslib.min.js"></script>
</head>

<!-- Scale UI -->

<template name="world_parameters">
{{#with params}}
<div class="params">
  <fieldset>
    <legend>Paramètres du monde dans lequel évolue le Drone</legend>
    <p>Taille du cube de base : 10m*10m*10m</p>
    <p>
    <label for="xValue">Facteur X:</label>
    <input type="text" id="xValue" value={{sliders.x}} readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="sliderX" class="slider_world_params"></div>
    <p>
    <label for="yValue">Facteur Y:</label>
    <input type="text" id="yValue" value={{sliders.y}}  readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="sliderY" class="slider_world_params"></div>
    <p>
    <label for="zValue">Facteur Z:</label>
    <input type="text" id="zValue" value={{sliders.z}} readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="sliderZ" class="slider_world_params"></div>
    <div class="real_world_size">
      <p>Taille réelle du cube : <span id="size">{{getRealSize}}</span></p>
    </div>
  </fieldset>
</div>
{{/with}}
</template>
